@import url('https://fonts.googleapis.com/css?family=Mina:400,700|Roboto|Audiowide');

body {
  margin-top: 5vh;
  background-color: #ffffff;
  font-size: 1.5rem;
  font-family: "Mina", sans-serif;
}

%margin-top {
  margin-top: 10vh;
}

%box {
  border: 0;
  border-radius: 15%;  
  box-shadow: 2px 2px 4px #848487;
  color: #FFF; 
  margin: 1rem; 
  opacity: .7;
  padding: 3%; 
}

#js-newGameElement {
  @extend %margin-top;
}

#js-playerPickElement,
#js-resultsTableElement,
#js-roundTableElement,
.scores {
  @extend %margin-top;
}

#js-playerPoints, 
#js-computerPoints,
#js-game-winner-is {
  border-radius: 5px;
  background: #eaf1ef;
  color: #444443;
  font-family: "Audiowide";
  margin: 5px 115px 50px 115px;
  padding: 5px;
  text-shadow: 1px 1px 1px #000;
} 

#js-playerResult,
#js-computerResult {  
  border-radius: 5px;
  background: #eaf1ef;
  color: #444443;
  font-family: "Audiowide";
  margin: 5px 115px 50px 115px;
  padding: 5px;
  text-shadow: 1px 1px 1px #000;
}

.welcome-board {
  @extend %box;  
  background-color: #eaf1ef;
  color: #000;
  margin: auto;
  transition: opacity 1s ease;
  width: 40%;  
}

.welcome-board:hover {
  opacity: 1;
  background-color: #dee0e0;
}

.image {
  pointer-events: none;  
}

.welcome {
  font: 3rem, 'Roboto', sans-serif;
  margin: 5rem;
  opacity: 1;
  transition: opacity 2s;
}

.image-container {
  height: 10rem;
}

.image-paper {
  position: absolute;
  top: 0;
  left: 43%;
}

.image-rock {
  position: absolute;
  top: 60%;
  left: 27%;
}

.image-scissors {
  position: absolute;
  top: 60%;
  right: 23%;
}

.image-arrows-right {
  position: absolute;
  top: 65%;
  left: 42%;
  opacity: .5;
}

.image-arrows-left {
  position: absolute;
  top: 65%;
  right: 42%;
  opacity: .5;
}

.image-arrows-down {
  position: absolute;
  top: 40%;
  left: 48%;
  opacity: .5;
}

